@font-face {
  font-family: Rotterburg;
  src: url(./assets/fonts/Rotterburg\ Display\ Font.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#191919;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.active {
  color:#c9ac8c !important;
  border-bottom: 2px solid #c9ac8c !important;
}

.navbar-active {
  transform: rotate(180deg);
}

.menu-active {
   right: 10px !important;
   opacity: 1 !important;
   z-index: 100 !important;
}

.profile-active {
  opacity: 1 !important;
  right: 60px !important;
  z-index: 100 !important;
}